nav {
  display: flex;
  background-color: #31081f;
  margin: 0;
  height: 7vh;
  align-items: center;
  gap: 1rem;
  padding: 5px 15px;
  justify-content: right;
  border-bottom: 2px solid #54183a;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
